<main class="main">
  <mat-toolbar class="navigation">
    <button class="navigation-btn" mat-raised-button color="primary" routerLink="/">Home</button>
    <button class="navigation-btn" mat-raised-button color="primary" routerLink="/blog">Blog</button>
    <button class="navigation-btn" mat-raised-button color="primary" routerLink="/about">About</button>
    <button class="navigation-btn" mat-raised-button color="primary" routerLink="/login">Login</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>


