* {
    box-sizing: border-box;
    margin: 0;

    font-family:'Courier New', Courier, monospace;
}

.main {
    &-title {
        text-align: center;
        margin: 20px 0;
    }
}


.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    &-wrapper {
        display: flex;
        gap: 20px;
    }

    &-btn {
        border: none;
        border-radius: 20px;
        padding: 10px 25px;
        background-color: #1e1e1e;
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.1s;
        position: relative;

        font-size: 16px;

        &:hover {
            background-color: #000000;
        }
    }
}